<section>

  <footer class="bg-dark text-light">
      <div class="container">
          <div class="row py-5">
              <div class="col-12">
                  <h3 class="h5 mb-3">C O N T Á C T A N O S</h3>
                  <p class="mb-1">Dirección: {{Direccion}}</p>
                  <p class="mb-1">Email: {{Email}}</p>
                  <p class="mb-1">Telefono: {{Telefono}}</p>
              </div>
              <div class="col-12 d-flex flex-row justify-content-center">
                  <span class="mx-3">FB</span>
                  <span class="mx-3">TW</span>
                  <span class="mx-3">IN</span>
              </div>
          </div>
      </div>
  </footer>
</section>
